/*html{color:#000;background:#ccc;background:#f5f5f5;}*/

body{
    color:#000;
    background:#ccc;
    /*background:#f5f5f5;*/
}
#page {
    background: #fff;
    margin: 5px auto;
    padding:0 20px;
    text-align: left;
    box-shadow: 10px 10px 5px #888888;
}

.header {
    padding: 20px 0px;
}

.logo {
    float: left;
    font: italic 40px/1 arial,helvetica,sans-serif;
    width: 400px;
}

.header_login{
    width: 250px;
    float: right;
    border: 1px solid #eee;
    padding: 5px 10px;
    background: #fefefe ;
    text-align: right;
    font-size: 14px;
}

.navbar-toggle span {
    background-color: white !important;
}

.navbar, .navbar li, ul.dropdown-menu {
    background-color: #06c;
    border-color:  #06c !important;
}

.navbar .active > a, .navbar li > a:hover, .navbar li.open > a {
    background-color:  #0cf !important;
}

.navbar a  {
    color: #fff !important;
}

.content h1 {
    background: #eee none repeat scroll 0 0;
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    line-height: 1;
    padding: 10px;
}

#footer {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #aaa;
    background-color: #333;
    color: white;
}

.price {
    color: red;
    font-weight: bold;
}

.item_image {
    height: 160px;
}

.item_image img {
    margin: auto;
}

.items_list .thumbnail:hover {
    background-color: #eee;
    border-color: #000;
}

.items_list h3 {
    height: 80px;
    overflow: hidden;
}

.item_search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration {
    margin-top: 20px;
}